.screen-default {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.screen-home {
    margin-top: 25px;
}

.screen-apps {
    margin-top: 25px;
}

.screen-users {
    margin-top: 25px;
}

.screen-bots {
    margin-top: 25px;
}
